---
layout: job_page
title: "Executive Assistant"
---

## Responsibilities

GitLab is hiring an executive assistant to support our leadership teams in EST - PST timezones. We’re searching for a self-driven, collaborative,
and agile team member who is experienced in managing multiple priorities, juggling various responsibilities, and anticipating
executives’ needs. Executive assistants at GitLab toggle seamlessly between various systems including Gmail, Slack, Expensify, and
GitLab to accomplish an array of tasks, while staying focused on prioritization and escalating urgent issues. The perfect candidate will be
exceptionally organized personally and enjoys organizing for others, has a deep love of logistics and thrives in a dynamic start-up environment.
We're looking for a talented communicator and an expert planner to ensure GitLab continues to run smoothly.


## Requirements
* Minimum of 2 years of executive administration supporting more than one executive.
* Must be able to support team members in PST and match the CEO's working schedule.
* Successful history of managing the calendars, expenses, and travel of multiple executives.
* Experience predicting, prioritizing, and assisting an executive’s workload.
* Strong knowledge of Google Apps (Gmail, Docs, Spreadsheets, Presentations). Slack is a plus but not necessary.
* Exceptional communication and interpersonal skills and ability to interact autonomously with internal and external partners.
* Must have a proven track record of discretion with sensitive company and personal information.
* Excellent computer skills, self starter in picking up new and complex systems.
* Demonstrated ability to adopt technical tools quickly (i.e. terminal, text editor).
* Possess an ability to multi-task and prioritize in a dynamic environment.
* Superior attention to detail.
* Event coordination and creative event planning experience.
* Excellent written and verbal English communication skills.
* Experience in a start-up environment preferred.
* Experience working remotely preferred.
- Successful completion of a [background check](/handbook/people-operations/#background-checks).


<%= partial "includes/apply_and_about" %>

