---
layout: job_page
title: "Senior Accounts Executive Financial Services"
---

We are seeking proven, quota-carrying sales performers to help us grow our enterprise customer base within the Financial Service sector. Responsibilities include generating new logo business and generating new business in existing accounts.


## Responsibilities

* Senior Account Executive (SAE) will report to a regional director
* Act as a primary point of contact and the face of GitLab for our Financial Services prospects/clients.
* Lead qualification for all Financial Services leads and sales opportunities
Up-selling and leveraging business from new and established customer relationships
* Contribute to post-mortem analysis on wins/losses.
   * Communicate lessons learned to the team, including account managers, the marketing team, and the technical team.
* Take ownership of your book of business
    * document the buying criteria
    * document the buying process
    * document next steps and owners
    * ensure pipeline accuracy based on evidence and not hope
* Contribute to documenting improvements in our [sales handbook](https://about.gitlab.com/handbook/sales/).
* Provide account leadership and direction in the pre- and post-sales process
* Be the voice of the customer by contributing product ideas to our public [issue tracker](https://gitlab.com/gitlab-org/gitlab-ee/issues)

## Requirements

* Strong understanding of the financial services industry and 3-5 years experience selling into brokerage, banking, wealth/asset management or payments accounts
* Account planning and execution skills
* Ability to sell C-Level and across both IT and business units
* A proven track record of driving and closing enterprise deals
* 7+ years of solution sales experience
* Ability to maintain a high level of productivity, manage multiple competing priorities, and work effectively under the pressure of time constraints in a fast-paced, complex, collaborative, and team-oriented environment
* Interest in GitLab, and open source software
* Ability to leverage established relationships and proven sales techniques for success
* Effective communicator, strong interpersonal skills
* Motivated, driven and results oriented
* Excellent negotiation, presentation and closing skills
* Preferred experience with Git, Software Development Tools, Application Lifecycle Management
* You share our [values](/handbook/values), and work in accordance with those values.

## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](/team).

* Qualified applicants receive a short questionnaire from our Global Recruiters
  1. What would differentiate you and make you a great account executive for GitLab?
  1. What is your knowledge of the space that GitLab is in? (i.e. Industry Trends)
  1. How do you see the developer tools changing over the coming years from a sales perspective? (i.e. Competitive Positioning, Customer Needs, etc)
* Selected candidates will be invited to schedule a [screening call](/handbook/hiring/#screening-call) with our Global Recruiters
* Next, candidates will be invited to schedule a first interview with Sales Director - US
* Candidates will then be invited to schedule a second interview with Sales Director - EMEA
* Candidates will be invited to schedule a third interview with our CRO
* Finally, candidates will interview with our CEO
* Successful candidates will subsequently be made an offer via email

Additional details about our process can be found on our [hiring page](/handbook/hiring).


<%= partial "includes/apply_and_about" %>
