---
layout: job_page
title: "Accounting Manager"
---

{: .text-center}
<br>

GitLab is adding the next essential member who can help drive operational improvements within our finance department. You will join our team in its early stages responsible for developing a highly efficient, world class accounting process. We expect you will know your way around GAAP principles, financial statements, and be a proven problem solver.

## Responsibilities

* Supervise accounting staff on daily tasks
* Provide training to new and existing staff as needed.
* Ensure an accurate and timely month end close by providing leadership and support to the accounting close process. This role includes serving as a hands-on team member responsible for performing and reviewing transactions.
* Assist with daily banking requirements.  Monitor and forecast cash position
* Establish and enforce proper accounting policies and principles
* Assist in development and implementation of new procedures to enhance the workflow of the department.
* Responds to inquiries from the CFO, Controller, and company wide managers regarding financial results, special reporting requests and the like.
* Assist in preparing for and managing annual external audit.  Coordinate with other auditors as needed.
* Support overall department goals and objectives
* This person will initially coordinate third party providers as an individual contributor. Over time this person will be expected to build and manage a team.


## Requirements

* Proven work experience as an Accounting Manager or similar leadership role.  
* Ability to contribute to the career development of staff and a culture of teamwork
* Strong working knowledge of GAAP principles and financial statements
* Must have experience with Netsuite
* Proficient with excel and google sheets
* International experience preferred.
* Detail-oriented, self-directed and able to effectively complete tasks with minimal supervision
* Proficiency with GitLab
- You share our [values](/handbook/values), and work in accordance with those values.
- Successful completion of a [background check](/handbook/people-operations/#background-checks).

## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](https://about.gitlab.com/team/).

- Selected candidates will be invited to schedule a 30 minute screening call with our Global Recruiters
- Next, candidates will be invited to schedule a 45 minute interview with our Controller
- Candidates will then be invited to schedule a 45 minute interview with our CFO
- Finally, candidates may be asked to interview with the CEO
- Successful candidates will subsequently be made an offer via email

Additional details about our process can be found on our [hiring page](https://about.gitlab.com/handbook/hiring/interviewing).


<%= partial "includes/apply_and_about" %>

